/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear { clear:both; }

/* global.css */
body {
	background: #fff;
	color: #000;
	font-family: Arial, Verdana, Sans-Serif;
	/*text-align: center;*/ /* IE 5 fix */
	line-height: 1.4;
}

a:link
, a:visited {
	color: #A51C30;
	text-decoration: none;
}

a:hover, a:active {
	color: #2b2b2b;
	text-decoration: none;
}

#container {
	width: 90%;
	/*background: #efefef url(images/red/header.png) top left repeat-x;*/
	/*border: 1px solid #e4e4e4;*/
	color: #000000;
	/*margin: auto auto;*/
	/*padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top: 6px;*/
	text-align: left; /* IE 5 fix */
	padding: 0 5%; /*RM*/
}

#content {
	/* FIX: Make internet explorer wrap correctly */
	width: auto !important;

}

.menu {
	display: inline-block;
	width: 98%;
	background-color: #1e1e1e;
	padding: 0.25em 1%;
}
	
	.menu img {
		float: right:
	}
	
	.menu ul {
		color: #fff;
		/*font-weight: bold;*/
		/*text-align: right;*/
		float:right;
		padding: 6px;
	}
	
	.menu ul a {
		color: #F3F3F1;
		text-decoration: none;
		/*text-transform: uppercase;*/
		padding: 6px;
		font-size: 0.85em;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	
	.menu ul a:visited {
		/*color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		padding: 6px;*/
	}
	
	.menu ul a:hover, .menu ul a:active {
		/*background: #990707 url(/images/red/thead_bg.png) top left repeat-x;*/
		background: #A51C30;
		color: #f5f5f5;
		text-decoration: none;
		/*text-transform: uppercase;
		padding-top: 16px;
		padding-bottom: 14px;*/
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}

#header { 
	display: inline-block;
	text-align: right;
	width: 100%;
}

#panel {
	background: #f5f5f5 url(/images/red/trow.png) top left repeat;
	/*width: 40%;*/
	float: right;
	color: #000000;
	font-size: 11px;
	border-left: solid 3px rgba(0,0,0,0.2);
	border-right:  solid 3px rgba(0,0,0,0.2);
	border-bottom:  solid 3px rgba(0,0,0,0.2);
	padding: 8px;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 0 0 6px 6px; 
	/* Firefox 1-3.6 */
	-moz-border-radius: 0 0 6px 6px; 
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 0 0 6px 6px; 
}

#panel .remember_me input {
	vertical-align: middle;
	margin-top: -1px;
}

table {
	color: #000000;
	font-family: Verdana, Arial, Sans-Serif;
	/*font-size: 13px;*/
}

.tborder {
	background: #fff;
	width: 100%;
	margin: auto auto;
}

.tborder a:link
, .tborder a:visited {
	color: #1E1E1E;
	text-decoration: underline;
}

.tborder a:hover
, .tborder a:active {
	color: #A51C30;
	text-decoration: none;
}

table.tborder tbody {
}

.thead {
	background-color: #A51C30; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A51C30), to(#870518));
	background-image: -webkit-linear-gradient(top, #A51C30, #870518); 
	background-image:    -moz-linear-gradient(top, #A51C30, #870518);
	background-image:     -ms-linear-gradient(top, #A51C30, #870518);
	background-image:      -o-linear-gradient(top, #A51C30, #870518);
	border-bottom: solid 3px #737270;
	color: #F3F3F1;
	padding: 0.5em 2%;
	border-top: solid 1px #870518 !important;
	/*border-left: solid 1px #A51C30 !important;
	border-right: solid 1px #A51C30 !important;*/
}

.thead a:link
, .thead a:visited {
	color: #F3F3F1;
	text-decoration: underline;
}


.thead a:hover, .thead a:active {
	color: #FFDB6D;
	text-decoration: none;
}

.tcat {
	
	background: #DCDCDC;
	color: #737270;
	padding: 0.25em 1%;
	text-align: center;
	/*font-size: 12px;*/
}

.tcat a:link
, .tcat a:visited {
	color: #353535;
	text-decoration: underline;
}

.tcat a:hover, .tcat a:active {
	text-decoration: none;
}

.trow1 {
	/*background: #f5f5f5 url(/images/red/trow.png) top left repeat-x;*/
	/*padding: 0.5em 2%;*/
	background: #F7F7F7;
	border-bottom: solid 1px #EBEBEB;
	/*border-top: solid 1px #EBEBEB;*/
	border-right: solid 1px #EBEBEB;
}
	td:last-child{
		border-right: solid 0px #EBEBEB;
	}
	
.trow2 {
	/*background: #EFEFEF url(/images/red/trow.png) top left repeat-x;*/
	/*padding: 0.5em 2%;*/
	border-right: solid 1px #EBEBEB;
	border-bottom: solid 1px #EBEBEB;
}
	td.trow1
	, td.trow2 { 
		padding: 0.25em 1em; 
		font-size: 0.9em;
	}
	
	td.trow1 div
	, td.trow2 div { padding: 0.25em 0;}

	td.icontd { width: 1%; }

td.post_buttons { 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.9em;
}
	
.trow_shaded {
	background: #ffdde0;
}

.trow_selected td {
	background: #FFFBD9;
}

.trow_sep {
	background: #e5e5e5;
	color: #000;
	/*font-size: 12px;*/
	font-weight: bold;
}

.tfoot {
	background: #c0c0c0;
	color: #1e1e1e;
	/* Safari 3-4, iOS 1-3.2, Android 1.6- */
	-webkit-border-radius: 0 0 6px 6px; 
	/* Firefox 1-3.6 */
	-moz-border-radius: 0 0 6px 6px; 
	/* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
	border-radius: 0 0 6px 6px; 
	height: 10px;
	padding: 0.25em;
	font-size: 0.9em;
}

.tfoot a:link
, .tfoot a:visited {
	color: #1E1E1E;
	text-decoration: underline;
}

.tfoot a:hover, .tfoot a:active {
	color: #A51C30;
	text-decoration: none;
}

.bottommenu {
	background: #1e1e1e;
	color: #fff;
	/*margin-bottom: -20px;
	margin-right: -20px;
	margin-left: -20px;*/
	border: 0px solid #4874a3;
	padding: 10px;
	/*-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	box-shadow: 5px 5px 10px #a2a3a3;
	-webkit-box-shadow: 5px 5px 10px #a2a3a3;
	-moz-box-shadow: 5px 5px 10px #a2a3a3;*/
}

.bottommenu a:link 
,.bottommenu a:visited {
	color: #BDBDBD;
	text-decoration: underline;
}

.bottommenu a:hover, .bottommenu a:active {
	color: #f5f5f5;
	text-decoration: none;
}

.navigation {
	color: #000000;
	padding: 0.25em 0;
	/*font-size: 13px;
	font-weight: bold;*/
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover, .navigation a:active {
	text-decoration: none;
}

.navigation .active {
	color: #1E1E1E;
	/*font-size: 13px;
	font-weight: bold;*/
}

.smalltext {
	font-size: 0.75em;
	color: #353535;
	padding: 0.3em 0;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

input.textbox {
	background: #ffffff;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 1px;
}

textarea {
	background: #ffffff;
	color: #000000;
	border: 1px solid #0f5c8e;
	padding: 2px;
	font-family: Verdana, Arial, Sans-Serif;
	line-height: 1.4;
	/*font-size: 13px;*/
}

select {
	background: #ffffff;
	border: 1px solid #0f5c8e;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #0f5c8e;
}

.autocomplete {
	background: #fff;
	border: 1px solid #000;
	color: black;
}

.autocomplete_selected {
	background: #adcee7;
	color: #000;
}

.popup_menu {
	background: #ccc;
	border: 1px solid #000;
}

.popup_menu .popup_item {
	background: #fff;
	color: #000;
}

.popup_menu .popup_item:hover {
	background: #C7DBEE;
	color: #000;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.invalid_field {
	border: 1px solid #f30;
	color: #f30;
}

.valid_field {
	border: 1px solid #0c0;
}

.validation_error {
	background: url(/images/red/invalid.gif) no-repeat center left;
	color: #f30;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	/*font-size: 11px;*/
	padding-left: 22px;
}

.validation_success {
	background: url(/images/red/valid.gif) no-repeat center left;
	color: #00b200;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	/*font-size: 11px;*/
	padding-left: 22px;
}

.validation_loading {
	background: url(/images/red/spinner.gif) no-repeat center left;
	color: #555;
	margin: 5px 0;
	padding: 5px;
	font-weight: bold;
	/*font-size: 11px;*/
	padding-left: 22px;
}

/* Additional CSS (Master) */
img {
	border: none;
}

.clear {
	clear: both;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background-color: #FFFBD9;
	font-weight: bold;
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
	display: inline-block;
}

.menu ul {
	list-style: none;
	margin: 0;
}

.menu li {
	display: inline;
	padding-left: 5px;
}

.menu img {
	padding-right: 5px;
	vertical-align: top;
}

#panel .links {
	margin: 0;
	float: right;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	margin-top: 3px;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

#copyright {
	font: 11px Verdana, Arial, Sans-Serif;
	margin: 0;
	padding: 10px 0 0 0;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: #fff;
	padding: 4px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	margin: 4px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	margin: 4px 0;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	/*font-size: 13px;*/
}

.subforumicon {
	border: 0;
	vertical-align: middle;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

form {
	margin: 0;
	padding: 0;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 3px;
	text-decoration: none;
	white-space: nowrap;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}

.autocomplete {
	text-align: left;
}

.tborder a.subject_new {
	/*font-weight: bold;*/
	color: #A51C30;
}

.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	border: 1px solid #FFD324;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	/*font-size: 11px;*/
}

.red_alert {
	background: #FBE3E4;
	border: 1px solid #A5161A;
	color: #A5161A;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	/*font-size: 11px;*/
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	/*font-size: 12px;*/
}

div.error p {
	margin: 0;
	color: #000;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(/images/red/error.gif) no-repeat 0;
}

div.error.ul {
	margin-left: 24px;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

.pagination {
	/*font-size: 11px;*/
	padding-top: 10px;
	margin-bottom: 5px;
}

.tfoot .pagination, .tcat .pagination {
	padding-top: 0;
}
.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current, .pagination a {
	padding: 2px 6px;
	margin-bottom: 3px;
}

.pagination a {
	border: 1px solid #81A2C4;
}

.pagination .pagination_current {
	background: #F5F5F5;
	border: 1px solid #81A2C4;
	font-weight: bold;
	color: #000;
}

.pagination a:hover {
	background: #F5F5F5;
	text-decoration: none;
}

.thread_legend, .thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend, .forum_legend dt, .forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	/*font-size: 10px;*/
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	/*font-size: 10px;*/
	margin-bottom: 10px;
}

.post_body {
	padding: 5px;
}

.post_content {
	padding: 5px 10px;
}

.quick_jump {
	background: url(/images/red/jump.gif) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	vertical-align: middle;
	border: none;
}

.repbox {
	/*font-size:16px;*/
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

.pagination_breadcrumb {
	background-color: #f5f5f5;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}


a.newReply
, a.btn
, a.postbitBtn{
	background: #A51C30;
	color: #f5f5f5;
	font-size: 0.9em;
	padding: 0.45em 0.5em;
	text-decoration: none !important;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
	display: inline-block;
}

a.postbitBtn{
	background-color: #dcdcdc;
	color: #141414 !important;
	border: solid 1px #c7c7c7;
	padding: 0.25em 0.5em;
}

	a.newReply:hover
	, a.btn:hover
	, a.postbitBtn:hover{
		background-color: #1E1E1E;
		color: #f5f5f5 !important;
	}
	
#posts > table{
	border-left: 1px solid #EBEBEB;
}

#posts > table{
	border-right: 1px solid #EBEBEB;
}

.legendicon{ font-size: 1.5em;}



.fa.postByYou{
	top: -2px;
	left: 3px;
	position: absolute;
	font-size: 0.5em;
	color: #000;
}

	dl.thread_legend .postByYou{
		left: -3px;
	}

.lockedThread{
	top: 9px;
	left: 5px;
	position: absolute;
}

		dl.thread_legend .lockedThread{
			left: 3px;
			top: 5px;
		}

dl.thread_legend .fa-stack{
	width: auto;
	height: auto;
	padding-top: 1px;
}

span.legendFix{
	position: relative;
	top: 2px;
	left: 0;
}
.fa { color: #5e5e5e; }
.fa.newhot{ color: #A51C30; }